/* This stylesheet is global, across all themes. Only add things that you have to! */
body {
	behavior: url('..\css\WH3.htc');
	overflow: hidden;
}
.ContentDiv {
	overflow-y: scroll;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 367px;
	width: 585px;
	/*margin-left: 105px;
	margin-top: 20px;*/
	/*border-top-width: 20px;
	border-left-width: 105px;*/
}

.ControlDiv {
	position: absolute;
	top: 0px;
	left: 5px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*.CancelButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
}*/
.Code {
	
}
.TutorialSelector {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 100px;
	/*height: -20px;*/
	margin-bottom: 20px;
	display: block;
	overflow: hidden;
}
.ToggleTutorialSelector {
	position: absolute;
	left: 100px;
	top: 20px;
	/*height: 100%;*/
	width: 5px;
	/*bottom: 0px;*/
	z-index: 1;
	overflow: hidden;
	cursor: w-resize;
}
/*.ToggleTutorialSelector:hover {
	display: inline;
}*/
.DropDownList {
	float: right;
}
.DropDownListContainer {
	position: absolute;
	top: 0px;
	right: 0px;
}
.DropDownListTitle {
	text-align: right;
}
.DropDownListItems {
	display: none;
	text-align: right;
}
.DropDownList:hover .DropDownListItems { 
	display: block; 
}
.StatusBar {
	position: absolute;
	bottom: 0px;
	right: 20px;
}
ul {
	margin-left: 20px;
	padding-left: 0px;
}
li {
	margin-left: 0px;
	padding-left: 0px;
}