;-> configure some basic theme settings. they should be fairly self-explanitory.
; not all combinations work properly!
; set to either 'True', 'False', or comment the line (makes it = False)

;> Runbar Settings.
; Show the 'Runbar'
Showlsx True
lsxColapse True
;> Shortcut Settings
; Show the 'Start' button
ShowStart True
;> Stats Settings
; Show the System Stats at the top.
ShowStats    true
;> Desktop Settings
; Show the desktop (with all the shortcuts)
ShowDesk    true
; Are maximized windows full screen?
MaxWindowsFullScreen    true
;> Systray Settings
; Show the systemtray (icons next to the clock)
ShowTray True
; Make the systray AutoSize (Reccomended!)
TrayAutoResize True
;> Taskbar Settings
; Show the taskbar (bar at the bottom showing everything that is running).false
ShowTask    true