*Popup "Configure" !New !ConfigPopup
	*Popup "Show..." Folder
		*Popup .icon="%SystemRoot%\explorer.exe,3" "Desktop" !ToggleDesktop
		*Popup .icon="$ThemeDir$Images\Taskbar.ico" "Taskbar" !ToggleTaskbar
		*Popup .icon="$ThemeDir$Images\Sysinfo.ico" "System Info" !ToggleStats
	*Popup ~Folder
	*Popup "Fullscreen?" Folder
		*Popup .icon="%SystemRoot%\system32\SHELL32.dll,2" "Windows on maximize" !ToggleFullscreenWindows
		*Popup .icon="%SystemRoot%\explorer.exe,3" "Desktop" !ToggleFullscreenDesktop
	*Popup ~Folder
	*Popup .icon="$ThemeDir$Images\Recycle.ico" "Recycle" !Recycle
	*Popup "Take the tutorial!" "$Tutorial$"
*Popup ~New