;--> Clickonic is a destop module that provides you with
; alot of the functionality that explorer gives you, including
; drag + drop and repositioning your icons.

;--> Creates a "Desktop" Called "DeskIcons".
; you can have multiples, in different folders!
*Clickonic DeskIcons

;[ Size/Positon Settings
DeskIconsX 						0
DeskIconsY 						0
DeskIconsWidth  				$ResolutionX$
DeskIconsHeight 				$ResolutionY$
;]

;[ Icon Settings
DeskIconsSpacingX 				64
DeskIconsSpacingY 				64
DeskIconsSnapToGrid 			True
;]

;[ Font Settings
DeskIconsFont 					$Font$
DeskIconsFontSize 				12
;]

;[ Misc. Settings
DeskIconsConfirmFileDelete 		True
DeskIconsUseSelectionRectangle	True
;]

IF Background
;[ Desktop Background settings
*Label Background
BackgroundX						$(ResolutionX-ResolutionY)/2$
BackgroundWidth					$ResolutionY$
BackgroundHeight				$ResolutionY$
BackgroundPaintingMode			.image
BackgroundImage					$Background$
BackgroundGhosted				true
BackgroundAlphaTransparency		100
BackgroundAlphaMap				true
;]
ENDIF