;[ Includes the RC files in the config
include				"$themedir$Basic.rc"
include 			"$themedir$Popup.rc"
;IF ShowTask = True
include				"$themedir$Taskbar.rc"
;ENDIF
;IF ShowTray = True
include				"$themedir$Systray.rc"
;ENDIF
;IF ShowDesk = True
include				"$themedir$desktop.rc"
;ENDIF
include				"$themedir$other.rc"
IF ShowStats = True
include				"$themedir$stats.rc"
ENDIF
include				"$themedir$memory.rc"
*LuaFile			"$themedir$memory.lua"
;]

;[ Define some global theme variables
BorderColor			000000
BaseColor			FFFFFF
FontColor			000000
Transparency		100
Bevels				1 1 1 1
ShapeType			.rounded
RoundedEdges		3 2
AlwaysOnTop			True
Font				MS Sans Shief
None		$themedir$images\transparent.png
;]