;--- xTray
;---   Systray icons, these are the icons that you normaly see next to the clock in Explorer
IF ShowTray = True

;[ Size/Position on the screen
xTrayX						-143
xTrayY						1
xTrayWidth					18
xTrayIconWidth				18
xTrayHeight					25
;]

;[ Color/Transparency settings
xTrayPaintingMode			.singlecolor
xTrayColors					FF00FF
;]

;[ Draw settings
xTrayAlwaysOnTop			$AlwaysOnTop$
xTrayTopBorder				4
xTrayLeftBorder				2
xTrayXSpacing				2
xTrayFont					$font$
;]

;[ Makes the systray autosize. (scripting!)
IF TrayAutoResize = True
	xTrayAutoSize				True
	xTrayOnResize				!ResizeTray
	;IF ShowStats = True
	;xTrayOnResize				!Execute [!ParseEvars !xTrayMove -%#xTrayIconWidth*xTrayCurrentIconCount-TimeX%# 1][!ParseEvars !LabelResize Sysbord %#xTrayIconWidth*xTrayCurrentIconCount+TimeWidth+2%# $SysbordHeight$][!ParseEvars !LabelMove Sysbord -%#xTrayIconWidth*xTrayCurrentIconCount-TimeX%# 1][!ParseEvars !LabelResize Stats %#$StatsWidth$-(xTrayIconWidth*xTrayCurrentIconCount)+$xTrayIconWidth$-1%# $StatsHeight$] ;[!ParseEvars !xStatsGraphResize CpuGraph %#$CpuGraphWidth$-(xTrayIconWidth*xTrayCurrentIconCount)+$xTrayIconWidth$-1%# $CpuGraphHeight$]
	;ELSE
	;xTrayOnResize				!Execute [!ParseEvars !xTrayMove -%#xTrayIconWidth*xTrayCurrentIconCount-TimeX%# 1][!ParseEvars !LabelResize Sysbord %#xTrayIconWidth*xTrayCurrentIconCount+TimeWidth+2%# $SysbordHeight$][!ParseEvars !LabelMove Sysbord -%#xTrayIconWidth*xTrayCurrentIconCount-TimeX%# 1]
	;ENDIF
ELSE
	;xTray
ENDIF

xTrayAlphaMap				True

;-> Creates a Label, with "Time" as the prefix
*Label Time

;[ Size/Position on the screen
TimeY						1
TimeX						-127
TimeHeight					24
TimeWidth					52
;]

;--> Displays the current time on the label
TimeText					[time]

;[ Other draw settings
TimeAlwaysOnTop				$AlwaysOnTop$
TimeTrueTransparency		True
TimeFontSmoothing			False
TimeFontBold				True
;]

;--> Creates another Label, with "Sysbord" as the prefix
; This Label is the border around the systemtray/time area.
*Label Sysbord

;[ Size/Position on the screen
SysbordY					1
SysbordX					-144
SysbordHeight				24
SysbordWidth				68
;]

;[ Paint settings. change $...$ settings in Main.rc
SysbordPaintingMode			.multicolor
SysbordColors				FF00FF $BorderColor$
SysbordBevels				$Bevels$
SysbordShapeType			$ShapeType$
SysbordRoundedEdges			$RoundedEdges$
SysbordAlwaysOnTop			$AlwaysOnTop$
SysbordTrueTransparency		True
;]
ENDIF