;------------------------------------------------------------------------------
;    Edit *only* the paths as needed, and leave the file's *FORMAT* unchanged
;------------------------------------------------------------------------------
; path to your portable apps directory
PA "$LSD$PortableApps\"
FileManager "$PA$FreeCommanderPortable\FreeCommanderPortable.exe"
FMName "Free Commander"
TxtEditor "$PA$Notepad++Portable\Notepad++Portable.exe"
TxtEditorName "Notepad++"
CmdPrompt "E:\WINDOWS\system32\cmd.exe"
AudioPlayer "E:\Program Files\VideoLAN\VLC\vlc.exe"
MediaPlayer "E:\Program Files\VideoLAN\VLC\vlc.exe"
GfxViewer "rundll32.exe E:\WINDOWS\system32\shimgvw.dll,ImageView_Fullscreen"
GfxEditor "E:\Program Files\Paint.NET\PaintDotNet.exe"
Browser "$PA$FirefoxPortable\FirefoxPortable.exe"
Browsername "Firefox"
DUN "E:\WINDOWS\system32\rasphone.exe"
Email "$PA$ThunderbirdPortable\ThunderbirdPortable.exe"
EmailName "ThunderBird"
IRC "$PA$PidginPortable\PidginPortable.exe"
FTP "$PA$FirefoxPortable\FirefoxPortable.exe"
IM "$PA$PidginPortable\PidginPortable.exe"
IMName "Pidgin"



;------------------------------------------------------------------------------
;    Add and define any additional evars you require
;------------------------------------------------------------------------------

;MiscApp       "C:\E:\Program Files\misc\app.exe