*Popup "$Browsername$"							"$Browser$"
;*Popup "test"									"!ParseEvars !alert X %#xTrayCurrentX#%"
*Popup !Separator
;¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*Popup "$FMName$"								"$FileManager$"
*Popup "$TxtEditorName$"						"$TxtEditor$"
*Popup "$IMName$"								"$IM$"
*Popup "$EmailName$"							"$Email$"
