body {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-image: url('..\img\background.jpg');
	background-repeat: no-repeat;
	/*behavior: url('WH3.htc');*/
	overflow: hidden;
	
	/*background-color: yellow;*/
}
.ContentDiv {
	overflow-y: scroll;
	position: absolute;
	bottom: 0px;
	left: 10px;
	height: 360px;
	width: 581px;
}
.ControlDiv {
	position: absolute;
	top: 0px;
	left: 5px;
	width: 600px;
	height: 100px;
	overflow: hidden;
}
.CancelButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.Code {
	background-image: url('..\img\CodeBG.png');
	border-style: dashed;
	border-color: black;
	border-width: 1;
}
.TutorialSelector {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 100px;
	/*height: -20px;*/
	margin-bottom: 20px;
	display: none;
}
.ToggleTutorialSelector {
	position: absolute;
	left: 0px;
	top: 20px;
	/*bottom: 0px;*/
	width: 5px;
	height: 100%;
	margin-bottom: 20px;
	z-index: 1;
	background-color: blue;
	overflow: hidden;
}
.ToggleTutorialSelector:hover {
	background-color: red;
	display: inline;
}
.DropDownList {
	float: right;
	margin-left: 5px;
	padding-left: 1px;
	padding-right: 1px;
	border-width: 1;
	border-color: black;
	border-style: solid;
}
.DropDownListContainer {
	position: absolute;
	top: 0px;
	right: 15px;
}
.DropDownListTitle {
	text-align: right;

}
.DropDownListItems {
	display: none;
	text-align: right;
}
.DropDownList:hover .DropDownListItems { 
	display: block; 
}