cardpaintingmode ".singlecolor"
cardfontheight 40
cardwidth 45
cardheight 45
cardtext "?"
cardcolors  "#777777"

*label startgame
startgamepaintingmode ".singlecolor"
startgametext "Play Memory!"
startgameonleftclick !luaexec memory.game:start()
startgamecolors "#E6F4FF"
startgamewidth 90
startgameheight 30
startgamex 450
startgamey $250-40$

scorepaintingmode ".singlecolor"
scoretext "Turns: 0"
scorecolors "#E6F4FF"
scorewidth 90
scoreheight 30
scorex $450+100$
scorey $250-40$
