;--> The popup has no X, Y, width, and height settings! these are
; auto calulated based on the width of the entries, and the X Y
; based on where the user right-clicks.

;[ Colors/Transparency Settings
xPopupPaintingMode							.multicolor
xPopupColors								$BaseColor$ $BorderColor$
xpopupAlphaMap								True
xpopupTextureAlphaTransparency				100
;]

;[ More complicated draw settings
xPopupBevels								$Bevels$
xpopupShapeType								$ShapeType$
xpopupRoundedEdges							$RoundedEdges$
xpopupFont									$font$
xPopupAutoMenuBreak							True
;]

;[ Settings for the individual entries
xpopupIconSize								32
xpopupIconLeftBorder						2
xpopupEntryHeight							42
xpopupLeftBorder 							4
xpopupEntryFontLeftBorder					40
xpopupXSpacing								4
;]

;[ All the Settings that excusivly affect the top(title) of the popup
xpopupShowCaption 							.top
xpopupTopborder								20
xpopupTitleFontHeight 						18
xpopupTitleFontColor 						$FontColor$
xpopupTitleFontBold 						True
xpopupTitleFontLeftBorder 					8
xpopupTitlePaintingMode 					.multicolor
xpopupTitleColors							FFFFFF FF00FF
xpopupTitleBevels							1 1 1 0
xpopupTitleAlphaMap							True
xpopupTitleTextureAlphaTransparency			100
;]

;[ Settings for the seperators (white, horizontal lines)
xpopupSeparatorHeight						1
xpopupSeparatorPaintingMode					.singlecolor
xpopupSeparatorColors						000000
;]


;[ Settings ONLY for selected (mouseover) entries
xpopupActiveEntryPaintingMode				.singlecolor
xpopupActiveEntryColors						000000
xpopupActiveEntryFontColor					FFFFFF
xpopupActiveEntryAlphaMap					True
xpopupActiveEntryTextureAlphaTransparency	100
;]

;[ Settings Spicificly for sub-folders 
SubMenuMinWidth								1
SubMenuRightBorder							6
SubMenuEntryHeight							18
SubMenuIconSize								16
SubMenuEntryFontLeftBorder					18
SubMenuBottomBorder							6
SubMenuTopBorder							26
;]