;this .rc file deals with the stats at the top.

IF Showstats = True
;--> Creates the label
*Label Stats

;[ Size/Position on the screen
StatsY								1
StatsX								$CommandWidth+StartWidth+3$
StatsHeight							24
StatsWidth							$ResolutionX-CommandWidth-StartWidth-SysbordWidth-75-5$
;]

;[ Color/Transparency Settings
StatsPaintingMode					.multicolor
;--> Change $..$ vars in Main.rc
StatsColors							FF00FF $BorderColor$
StatsFontColor						$FontColor$
StatsAlphaMap						True
;StatsTextureAlphaTransparency		$Transparency$
;]

;[ Draw settings (Change values in Main.rc)
StatsBevels							$Bevels$
StatsShapeType						$ShapeType$
StatsRoundedEdges					$RoundedEdges$
StatsAlwaysOnTop					$AlwaysOnTop$
;]

;[ Font/Text settings
StatsFont							$Font$
StatsFontSmoothing					False
StatsFontBold						True
StatsFontAlign						Left
StatsFontPadding					4
StatsText							"[os] RAM:[memInUse(%)]%/[memTotal(MB)]MB[if(connected)] NET:[before(netIn(0), ' ')]/[before(netOut(0), ' ')] [endIf] [CPU]%[ifeval(powersource,'=','Battery')] [Battery]B[endIf] [ifeval(between(clipboardText, '1', '50', 'indexspan'), between(clipboardText, '1', '51', 'indexspan'))][clipboardText][else][between(clipboardText, '1', '50', 'indexspan')]...[endif]"
;]
ENDIF