;--- xTaskbar
;---   A list of all running programs
IF ShowTask = True
;[ Size/Position on screen
xTaskbarX                       0
xTaskbarY                       -27
xTaskbarWidth                   $ResolutionX$
xTaskbarHeight                  26
;]

;[ Border and misc. settings
xTaskbarAlwaysOnTop             $AlwaysOnTop$
xTaskbarFontColor				$FontColor$
xTaskbarFont					$Font$
xTaskbarBorders					1 1 3 1
xTaskbarFontLeftBorder			22
xTaskbarIconX					3
xTaskbarAlphaMap				True
;]

;[ Button Specific Settings
xTaskbarButtonHeight			26
xTaskbarButtonXSpacing			1
xTaskbarButtonPaintingMode		.multicolor
xTaskbarButtonShapeType			$ShapeType$
xTaskbarButtonRoundedEdges		$RoundedEdges$
xTaskbarButtonBevels			$Bevels$
xTaskbarButtonColors			FF00FF $BorderColor$
;]
ENDIF