;------------------------------------------------------------------------------
;    Edit *only* the paths as needed, and leave the file's *FORMAT* unchanged
;------------------------------------------------------------------------------
; path to your portable apps directory
PA "$LSD$PortableApps\"
FileManager ""
FMName "None"
TxtEditor "$PA$Notepad++Portable\Notepad++Portable.exe"
TxtEditorName "Notepad++"
CmdPrompt "E:\WINDOWS\system32\cmd.exe"
AudioPlayer "$PA$VLCPortable\VLCPortable.exe"
MediaPlayer "$PA$VLCPortable\VLCPortable.exe"
GfxViewer "rundll32.exe E:\WINDOWS\system32\shimgvw.dll,ImageView_Fullscreen"
GfxEditor "$PA$GIMPPortable\GIMPPortable.exe"
Browser "$PA$FirefoxPortable\FirefoxPortable.exe"
Browsername "Firefox"
DUN "E:\WINDOWS\system32\rasphone.exe"
Email "$PA$ThunderbirdPortable\ThunderbirdPortable.exe"
EmailName "ThunderBird"
IRC "$PA$PidginPortable\PidginPortable.exe"
FTP "$PA$FirefoxPortable\FirefoxPortable.exe"
IM "$PA$PidginPortable\PidginPortable.exe"
IMName "Pidgin"
Tutorial "$LiteStepDir$Tutorial\Tutorial.exe"

;------------------------------------------------------------------------------
;    Add and define any additional evars you require
;------------------------------------------------------------------------------

;MiscApp       "C:\E:\Program Files\misc\app.exe