*Popup "Take the turorial!"						"$Tutorial$"
*Popup !Separator
;¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*Popup "$Browsername$"							"$Browser$"
*Popup "$FMName$"								"$FileManager$"
*Popup "$TxtEditorName$"						"$TxtEditor$"
*Popup "$IMName$"								"$IM$"
*Popup "$EmailName$"							"$Email$"
