body {
	behavior: url('..\css\WH3.htc');
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color: black;
	color: green;
	scrollbar-base-color: green;
	
	/*background-image: url('..\img\background.jpg');
	background-repeat: no-repeat;*/
}
.ContentDiv {
	
}
.ControlDiv {
	
}
.Code {
	background-image: url('..\img\CodeBG.png');
	color: 00FF00;
	font-weight: bold;
	border-style: dashed;
	border-color: green;
	border-width: 1;
}
.TutorialSelector {
	
}
.ToggleTutorialSelector {
	background-color: blue;
}
.ToggleTutorialSelector:hover {
	background-color: red;
}
.DropDownList {
	margin-left: 5px;
	padding-left: 1px;
	padding-right: 1px;
	border-width: 1;
	border-color: green;
	border-style: solid;
}
.DropDownListContainer {
	top: 0px;
	right: 15px;
}
.DropDownListTitle {
	color: white;
}
.DropDownListItems {
	
}
.DropDownList:hover .DropDownListItems { 
	
}